# ------------------------------------------------------------
# Activation du moteur de réécriture
# ------------------------------------------------------------
RewriteEngine On


# ------------------------------------------------------------
# Si le fichier demandé n’existe PAS physiquement
# ------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f

# ------------------------------------------------------------
# Si le dossier demandé n’existe PAS physiquement
# ------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-d


# ------------------------------------------------------------
# Alors on redirige toutes les requêtes vers index.php
# index.php devient le point d’entrée unique (Front Controller)
# ------------------------------------------------------------
RewriteRule ^ index.php [L]
