RewriteEngine On

# Si le fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f

# Si le dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d

# Toutes les requêtes vont vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]
